@font-face {
  font-family: "pixelatedFont";
  src: url("fonts/Pixel.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: #202833;
  background-image: url(camouflage-background.avif);
}

.topnav {
  background-color: #0b0c10;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-color: #72b5e4;
  margin-left: 3%;
}

.textBranding {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0px 20px;
}

.textBranding > h1,
.textBranding > h6 {
  padding: 0;
  margin: 0;
}

.textBranding > h6 {
  font-size: xx-small;
  color: #f8f6f6;
}

.topnav h1 {
  font-size: x-large;
  color: white;
  text-align: center;
  text-decoration: none;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.tab {
  padding: 10px 20px;
  background-color: #3690ea;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.tab.active {
  background-color: #5fa8ef;
  color: white;
}

.button {
  padding: 10px 20px;
  background-color: #ff702b;
  color: white;
  cursor: pointer;
  border: 0;
}

.defcon {
  border-radius: 10px 0px 10px 0px;
}

.defcon:active {
  transform: scale(0.9);
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.number-container,
.months-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-content,
.months-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  font-size: 24px;
  font-weight: bold;
  background-color: #3690ea;
  color: #feffff;
  cursor: pointer;
  background-size: 47px;
  background-image: url(75d8feb7.png);
}

.months-content {
  width: 100%;
  min-width: 270px;
  height: 270px;
  white-space: nowrap;
  font-size: 50px;
}

.number-content:active {
  transform: scale(0.9);
}

.number-content {
  font-size: 7em;
  width: 160px;
  height: 160px;
  -webkit-touch-callout: none;
  user-select: none;
}

.bottom {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  width: 100%;
  display: flex;
  background-color: #3690ea;
  justify-content: center;
  color: #feffff;
}

.pixelated {
  font-family: "pixelatedFont", sans-serif;
}

.btc-container {
  position: fixed;
  bottom: 0;
  right: 10%;
  transform: translateX(10%);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: riseAndFade 4s ease forwards;
}

.btc-text {
  font-size: 20px;
  color: gray;
}

@keyframes riseAndFade {
  0% {
    transform: translateX(10%) translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateX(10%) translateY(-23.5%);
    opacity: 1;
  }

  100% {
    transform: translateX(10%) translateY(-54.9%);
    opacity: 0;
  }
}

.settings {
  margin-right: 10px;
}

button.setbutton:active {
  transform: scale(0.9);
}

button.setbutton {
  width: 55px;
  background-color: #5fa8ef;
  border-radius: 0.25em;
  border: none;
  padding: 4px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.setPanel {
  height: 100%;
  width: 36.8vh;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  right: 0;
  background-color: #1e2027;
  color: white;
  border-left: 1px solid #dfdddd30;
  background-color: #202833;
}

.setPanel .header {
  text-align: center;
}

h2.tab-text {
  padding: 0;
  margin: 0;
}

.setPanel .tab-set {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 2px solid;
  color: white;
}

.setPanel .tab-icon {
  font-size: 20px;
  margin-right: 5px;
}

.setPanel .tab-content {
  display: none;
}

.setPanel input[type="number"] {
  outline: none;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.setPanel .tab-set.active + .tab-content {
  display: block;
}

.setPanel .tab-set.active {
  font-weight: bold;
  border: #3690ea;
}

.closebtn:hover {
  background-color: #66eded41;
}

.closebtn {
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.buttonclose {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 2px solid #ffffff2f;
}

.setHead {
  color: white;
}

.curentTime {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  border: 2px dashed #66eded41;
}

.cong-container {
  padding: 10px;
}

.currentCooldown {
  color: #3690ea;
  font-family: sans-serif;
}

.config-select {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.numbers-select {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 2px solid #66eded41;
  font-size: medium;
  color: white;
  cursor: pointer;
}

.numbers-select > option::selection {
  background-color: #0f7ae2;
}

.numbers-select > option {
  background-color: #3690ea;
  cursor: pointer;
}

.ucontainer {
  padding: 10px;
  border: 1px solid #66eded41;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "uMin uSec"
    "minT secT"
    "updateButton updateButton";
  justify-items: center;
}

.updateButton {
  grid-area: updateButton;
  width: 100%;
}

.uMin {
  grid-area: uMin;
}

.uSec {
  grid-area: uSec;
}

.minT {
  grid-area: minT;
}

.secT {
  grid-area: secT;
}

.ucontainer p {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: small;
}

.ucontainer input {
  border: 2px solid #72b5e4;
  background-color: transparent;
  color: white;
  font-size: x-large;
  align-items: center;
}

.ucontainer .button:active {
  transform: scale(0.9);
}

.ucontainer .button {
  width: 100%;
}
